@using HazziPharma.Web.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav ms-auto align-items-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-3">
            <span class="text-white">
                <i class="bi bi-person-circle"></i>
                Hello @User.Identity?.Name!
            </span>
        </li>

        <li class="nav-item">
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  method="post">

                <button type="submit"
                        class="btn btn-link text-white text-decoration-none p-0">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </button>

            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white"
               asp-area="Identity"
               asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
        </li>
    }

</ul>