@model HazziPharma.Web.ViewModels.CompanyProfileViewModel
@{
    ViewData["Title"] = "Edit Company Profile";
}

<h2 class="mb-4">Edit Company Profile</h2>

<form asp-action="Edit"
      method="post"
      enctype="multipart/form-data">

    <input asp-for="Id" type="hidden" />

    <div class="row">

        <div class="col-md-6 mb-3">
            <label asp-for="CompanyName" class="form-label"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" />
        </div>

    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <textarea asp-for="Address" class="form-control"></textarea>
    </div>

    <div class="row">

        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Website" class="form-label"></label>
            <input asp-for="Website" class="form-control" />
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 mb-3">
            <label asp-for="TradeLicense" class="form-label"></label>
            <input asp-for="TradeLicense" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="BIN" class="form-label"></label>
            <input asp-for="BIN" class="form-control" />
        </div>
    </div>
   

        <div class="mb-3">

            <label asp-for="LogoFile" class="form-label">
                Change Company Logo
            </label>

            <input asp-for="LogoFile"
                   type="file"
                   class="form-control"
                   accept=".png,.jpg,.jpeg" />

            <span asp-validation-for="LogoFile"
                  class="text-danger"></span>

        </div>
    @if (!string.IsNullOrEmpty(Model.LogoPath))
    {
        <div class="mb-3">

            <label class="form-label">
                Current Logo
            </label>

            <br />

            <img src="@Model.LogoPath"
                 style="height:120px"
                 class="border rounded p-2" />

        </div>
    }
    

            <button type="submit" class="btn btn-primary">
             Update Company Profile
            </button>

            </form>

        @section Scripts {
         @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
         }
}